<!DOCTYPE html>
<html>
<title>Tyler's Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/static/css/master.css">
<link rel="stylesheet" href="/static/css/slideshow.css">
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
{% block header %}
<header class="head w3-container w3-center w3-padding-32">
  <a href="/" style="text-decoration:none;"><h1><b>MY BLOG</b></h1></a>
  <p>Welcome to the blog of <span class="tag">Tyler Conzett</span></p>
{% endblock %}
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
{% block blogEntries %}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="/w3images/woods.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>TITLE HEADING</b></h3>
      <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>BLOG ENTRY</b></h3>
      <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
{% endblock blogEntries %}
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  {% block about %}
  <div class="w3-card w3-margin w3-margin-top">
  <img src="/static/images/avatar.gif" style="width:100%;">
    <div class="w3-container w3-white">
      <h4><b>Tyler</b></h4>
      <p>Guten Tag! Computer science student by day, trumpet player by night--
          welcome to my blog! Here I document various elements of my life as I
          slowly develop this site into something cool. Presently, this blog is
          dedicated to my J-Term trip to the west-coast so come along for the ride!
      </p>
      <!-- <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p> -->
    </div>
  </div><hr>
  {% endblock about %}
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Archive</h4>
    </div>
    {% block postArchive %}
    <ul class="w3-ul w3-hoverable w3-white arch">
      {% if archive|length == 0: %}
      <li class="w3-padding-16">
          <img class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">--</span><br>
          <span>There are no posts in the archive.</span>
      </li>
      {% endif %}
      {% for p in archive: %}
      <a href="/post/{{p[0]}}" style="text-decoration:none;">
      <li class="w3-padding-16">
        {% if p[1][0] != '': %}
        <!-- <img src="/static/images/{{p[1][0]}}" class="w3-left w3-margin-right" style="width:50px"> -->
        {% endif %}
        <span class="w3-large">{{p[3]}}</span><br>
        <span>{{p[4].strftime('%B %d, %Y')}}</span>
      </li></a>
      {% endfor %}
    </ul>
    {% endblock postArchive %}
    <!--<div class="w3-white" style="line-height:1;padding-bottom:5px;">
        <button class="w3-button w3-black w3-disabled w3-padding-large">Previous</button>
        <button class="w3-button w3-black w3-padding-large">Next »</button>
    </div>-->
  </div>
  <hr>
  {% block tags %}
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p>
      {% for a in activeTags: %}
      <a href="/tag/{{a[1]}}"><span class="w3-tag w3-black w3-margin-bottom">{{a[1]}}</span></a>
      {% endfor %}
      {% for p in passiveTags: %}
      <a href="/tag/{{p[1]}}"><span class="w3-tag w3-light-grey w3-small tagColor w3-margin-bottom">{{p[1]}}</span></a>
      {% endfor %}
    </p>
    </div>
  </div>
  {% endblock tags %}
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button onclick="nav(-1)" {% if disPrevB: %}disabled{% endif %} class="w3-button w3-black {% if disPrevB: %}w3-disabled{% endif %} w3-padding-large w3-margin-bottom">&laquo; Previous</button>
  <button onclick="nav(1)" {% if disNextB: %}disabled{% endif %} class="w3-button w3-black {% if disNextB: %}w3-disabled{% endif %} w3-padding-large w3-margin-bottom">Next &raquo;</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
<script src="/static/javascript/slideshow.js"></script>
<script src="/static/javascript/postController.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111687487-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111687487-1');
</script>
</html>
