{% extends "base.html" %}

{% block blogEntries %}
 {% if posts|length == 0: %}
 <div class="w3-card-4 w3-margin w3-white">
     <div class="w3-container">
       <h3><b>Nothing To See Here!</b></h3>
       <h5><span class="w3-opacity">--</span></h5>
     </div>

     <div class="w3-container">
       <p>There are no posts yet, but please stop by later to join me on my adventures!</p>
       <div class="w3-row">
       </div>
     </div>
  </div>
 {% endif %}
 {% for p in posts: %}
 <div class="w3-card-4 w3-margin w3-white">
  <img src="/static/images/{{p[0]}}" alt="{{p[1]}}" style="width:100%">
    <div class="w3-container">
      <h3><b>{{p[2]}}</b></h3>
      <h5><span class="w3-opacity">{{p[3].strftime('%B %d, %Y')}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{p[4]}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a class="w3-button w3-padding-large w3-white w3-border" href="/post/{{p[5]}}"><b>READ MORE »</b></a></p>
        </div>
      </div>
    </div>
 </div>
 {% endfor %}
{% endblock %}

{% block postArchive %}
<ul class="w3-ul w3-hoverable w3-white">
  {% if posts|length == 0: %}
  <li class="w3-padding-16">
      <img class="w3-left w3-margin-right" style="width:50px">
      <span class="w3-large">--</span><br>
      <span>There are no posts in the archive.</span>
  </li>
  {% endif %}
  {% for p in posts: %}
  <a href="/post/{{p[5]}}" style="text-decoration:none;">
  <li class="w3-padding-16">
    <img src="/static/images/{{p[0]}}" alt="{{p[1]}}" class="w3-left w3-margin-right" style="width:50px">
    <span class="w3-large">{{p[2]}}</span><br>
    <span>{{p[3].strftime('%B %d, %Y')}}</span>
  </li></a>
  {% endfor %}
</ul>
{% endblock %}
