{% extends "base.html" %}

{% block blogEntries %}
 {% if posts|length == 0: %}
 <div class="w3-card-4 w3-margin w3-white">
     <div class="w3-container">
       <h3><b>Nothing To See Here!</b></h3>
       <h5><span class="w3-opacity">--</span></h5>
     </div>

     <div class="w3-container">
       <p>There are no posts yet, but please stop by later to join me on my adventures!</p>
       <div class="w3-row">
       </div>
     </div>
  </div>
 {% endif %}
 {% for p in posts: %}
 <div class="w3-card-4 w3-margin w3-white">
 <div class="w3-content w3-display-container">
   {% if p[0][0] != '': %}
   <img id="0" name="active" class="mySlides{{p[5]}}" src="/static/images/{{p[0][0]}}">
   {% for i in p[0][1:]: %}
   <img id="{{loop.index}}" name="inactive" class="mySlides{{p[5]}}" src="/static/images/{{i}}" style="display:none;">
   {% endfor %}

   {% if p[0]|length > 1: %}
   <button class="w3-button w3-black w3-display-left" onclick="showDivs('mySlides{{p[5]}}',-1)">&#10094;{{p[0]|length}}</button>
   <button class="w3-button w3-black w3-display-right" onclick="showDivs('mySlides{{p[5]}}',1)">{{p[0]|length}}&#10095;</button>
   {% endif %}
   {% endif %}
  </div>
    <div class="w3-container">
      <h3><b>{{p[2]}}</b></h3>
      <h5><span class="w3-opacity">{{p[3].strftime('%B %d, %Y')}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{p[4]|safe}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a class="w3-button w3-padding-large w3-white w3-border" href="/post/{{p[5]}}"><b>READ MORE »</b></a></p>
        </div>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p>
            {% for a in p[6]: %}
            <span class="w3-tag w3-black w3-margin-bottom">{{a}}</span>
            {% endfor %}
          </p>
        </div>
      </div>
      </div>
    </div>
 </div>
 {% endfor %}
{% endblock %}
