{% extends "base.html" %}

{% block blogEntries %}
{% if post|length == 0: %}
<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>This is not the Page You're Looking For!</b></h3>
      <h5><span class="w3-opacity">--</span></h5>
    </div>

    <div class="w3-container">
      <p>Unfortunately, the query you were searching for could not be found! I apologize for the
         inconvience, but honestly, I am not sure how you managed to get to this page! Please continue
         about your browsing and have a pleasant day!
      </p>
      <div class="w3-row">
      </div>
    </div>
 </div>
{% endif %}
{% for posts in post: %}
<div class="w3-card-4 w3-margin w3-white">
 <img src="/static/images/{{posts[0]}}" alt="{{posts[1]}}" style="width:100%">
   <div class="w3-container">
     <h3><b>{{posts[2]}}</b></h3>
     <h5><span class="w3-opacity">{{ posts[3].strftime('%B %d, %Y') }}</span></h5>
   </div>

   <div class="w3-container">
     <p>{{posts[4]}}</p>
   </div>
   <div class="w3-row">
     <div class="w3-col m8 s12">
       <p>
         {% for a in posts[6]: %}
         <span class="w3-tag w3-black w3-margin-bottom">{{a}}</span>
         {% endfor %}
       </p>
     </div>
   </div>
 </div>
{% endfor %}
{% endblock %}

{% block postArchive %}
<ul class="w3-ul w3-hoverable w3-white">
  {% for p in archive: %}
  <a href="/post/{{p[0]}}" style="text-decoration:none;">
  <li class="w3-padding-16">
    <img src="/static/images/{{p[1]}}" alt="{{p[2]}}" class="w3-left w3-margin-right" style="width:50px">
    <span class="w3-large">{{p[3]}}</span><br>
    <span>{{p[4].strftime('%B %d, %Y')}}</span>
  </li></a>
  {% endfor %}
</ul>
{% endblock %}
